
@font-face {
    font-family: mainFontBold;
    src: url(/static/Graphik-700-Bold.otf);
}

@font-face {
    font-family: mainFontRegular;
    src: url(/static/Graphik-400-Regular.otf);
}



html{
  font-size: 100%;
  box-sizing: border-box;
  font-family: 'mainFontRegular', "Droid Sans",  "Helvetica Neue", "Ubuntu", "Inter", -system-ui, system-ui, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Droid Sans",
  sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}